<template>
  <div class='{{kebabName name}}-container'>
    <h1>{{pascalCase name}} Component</h1>
    <slot></slot>
  </div>
</template>

<script setup lang='ts'>
  {{#if hasStyles}}
    import './{{pascalCase name}}.css';
  {{/if}}

  interface Props {
  {{#if description}}
    /** *
    {{description}}
    */
  {{/if}}
  } defineProps<Props>();
</script>